:root {
  --background: rgb(50, 50, 50);
  --vermelho: #e50914;
}
@font-face {
  font-family: "Bebas";
  src: url(../fonts/BebasNeue.otf);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}
@font-face {
  font-family: "Arcane";
  src: url(../fonts/Arcane.ttf);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* ^ ^ CSS RESET E VAR ^ ^*/

/* Header CSS */
.cabecalho {
  position: absolute;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.8)
  );
  min-width: 100%;
}
.cabecalho > nav {
  padding: 0rem 5.6rem;
  padding-top: 2rem;
  padding-bottom: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.cabecalho > nav > h1 {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  font-family: "Arcane", Verdana, Geneva, Tahoma, sans-serif;
  color: var(--vermelho);
  text-shadow: 0.1rem 0.3rem 0.5rem black;
}
.cabecalho > nav > ul {
  list-style: none;
  display: flex;
}
.cabecalho > nav > ul > li {
  margin-right: 2rem;
}
.cabecalho > nav > ul > li > a {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-family: "Bebas", Verdana, Arial, Helvetica, sans-serif;
}
.cabecalho > nav > ul > li:first-child > a {
  border: 0.2rem solid whitesmoke;
  padding: 0.4rem 0.8rem;
  transition: 300ms ease-in-out;
  border-radius: 0.4rem;
  color: white;
}
.cabecalho > nav > ul > li:first-child > a:hover {
  background-color: white;
  color: black;
}
.cabecalho > nav > ul > li:nth-last-child(1) > a {
  padding: 0.4rem 1.6rem;
  background-color: var(--vermelho);
  border-radius: 0.4rem;
  transition: 300ms ease-in-out;
  color: white;
  box-shadow: 0.1rem 0.3rem 0.5rem black;
}
.cabecalho > nav > ul > li:nth-last-child(1) > a:hover {
  background-color: #ff000d;
}
/* FINAL HEADER */

/* Tela Inicial */
.content {
  position: relative;
  padding: 0rem 5.6rem;
  min-height: 100vh;
  background-color: var(--background);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) 100%),
    url(../img/BR-pt-20220321-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  background-size: cover;
  letter-spacing: 0.2rem;
  font-family: "Bebas", Verdana, Arial, Helvetica, sans-serif;
}
.titulo-initial {
  text-align: center;
}
.titulo-initial > h1,
h2,
h3 {
  margin-top: 0.8rem;
  color: white;
}
.titulo-initial > h1 {
  font-size: 4.5rem;
}
.titulo-initial > h2 {
  font-size: 3.5rem;
}
.titulo-initial > h3 {
  font-size: 2em;
}
.content a {
  text-decoration: none;
  font-size: 2rem;
  margin-top: 1.6rem;
  color: white;
  padding: 0.4rem 1.6rem;
  background-color: var(--vermelho);
  border-radius: 0.4rem;
  transition: 300ms ease-in-out;
  box-shadow: 0.1rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
}
.content a:hover {
  background-color: #ff000d;
}
@media (min-width: 1024px) {
  .titulo-initial > h1 {
    font-size: 6rem;
  }
  .titulo-initial > h2 {
    font-size: 5rem;
  }
  .titulo-initial > h3 {
    font-size: 3em;
  }
}
@media (max-width: 768px) {
  .cabecalho > nav {
    flex-direction: column;
  }
  .cabecalho > nav > ul {
    margin-top: 4rem;
    display: block;
  }
}
