:root {
  --background: rgb(50, 50, 50);
  --vermelho: #e50914;
}
@font-face {
  font-family: "Bebas";
  src: url(../fonts/BebasNeue.otf);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}
@font-face {
  font-family: "Arcane";
  src: url(../fonts/Arcane.ttf);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.5em;
}
p {
  font-size: 2rem;
}
.titulo-game-flix {
  font-size: 5rem;
  letter-spacing: 0.5rem;
  font-family: "Arcane", Verdana, Geneva, Tahoma, sans-serif;
  color: var(--vermelho);
  text-shadow: 0.1rem 0.3rem 0.5rem black;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  color: white;
}

body {
  background: rgb(30, 30, 30);
}
/* ^ ^ CSS RESET E VAR ^ ^*/

/* -----Nav----- */

.nav {
  font-family: "Arcane", Arial, Helvetica, sans-serif;
  border: 1rem solid transparent;
  background-image: linear-gradient(rgb(20, 20, 20), rgba(20, 20, 20, 0.856)),
    linear-gradient(to right, red, blue);
  background-clip: content-box, border-box;
  background-origin: border-box;
  border-bottom-left-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;
  color: white;
  box-shadow: 0px 3px 9px 4px #000000b3;
}
.nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
  animation: myAnim 2s ease-in-out 0s infinite normal forwards;
}
.nav-content h2 {
  color: #ffffff;
  text-shadow: 0 0 0.5rem #fff, 0 0 1rem #fff, 0 0 1.5rem #fff, 0 0 2rem #49ff18,
    0 0 3rem #49ff18, 0 0 4rem #49ff18, 0 0 5.5rem #49ff18, 0 0 7.5rem #49ff18;
  letter-spacing: 0.3rem;
}

/* -----MAIN CONTENT----- */
.margin-content {
  margin-top: 3rem;
}
.minor-content {
  width: 20.8rem;
  height: 30rem;
}
.large-content {
  width: 62.4rem;
  height: 30rem;
}
.content {
  border: 1rem ridge #e50914;
  border-radius: 1.6rem;
  box-shadow: 0px 3px 9px 4px #000000b3;
}
.game-main {
  padding: 3.2rem;
  background-image: url(../img/pexels-photo-261043.jpeg);
  height: 30rem;
  background-size: cover;
  width: 100%;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.games-geral {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.games-geral div p {
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}
.major-games {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@keyframes myAnim {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}
