@media (max-width: 420px) {
  .minor-content {
    flex: 1 1 37.5rem;
  }
}
@media (max-width: 350px) {
  .titulo-game-flix {
    min-width: 24.8rem;
  }
  .initial{
    min-width: 35rem;
  }
  .cabecalho{
    min-width: 35rem;
  }
}
@media (max-width: 1247px) {
  .major-games {
    justify-content: center;
  }
}
